html,
body,
#graph,
#graph svg {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.purple-shadow {
  color: rgb(163, 78, 255);
  filter: drop-shadow(2px 2px 3px rgba(163, 78, 255, .7));
}

.green-shadow {
  color: rgb(47, 165, 158);
  filter: drop-shadow(2px 2px 3px rgba(47, 165, 158, .7));
}

.first {
  filter: none;
}
